body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 10px;
	background-color: #f4f4f4;
	font-size: 0.55em;
}

.report-container {
	width: 95%;
	margin: 20px auto;
	background-color: white;
	border-radius: 3px;
	border-style: solid;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hr1 {
	border-top: 2px solid;
}

header {
	text-align: center;
	background-color: #dfdfdf;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding: 40px 20px 0px 20px;
}

header h1 {
	font-size: 2em;
	margin: 0;
}

header h2 {
	font-size: 1.2em;
}

header p {
	font-size: 1.4em;
	color: #555;
}

#well_Info {
	display: grid;
	grid-template-columns: auto auto auto auto;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

#well_Info div {
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	padding-left: 5px;
}

.wellTitle {
	grid-column: 1 / span 4;
	background-color: #dfdfdf;
	text-align: center;
	/* font-weight: bold; */
	padding: 2px 0px 2px 0px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.eventDesc {
	padding-bottom: 16px;
}

.sixItem {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.Obj,
.field-platform,
.AFE_No,
.Start_date,
.Spud_date,
.End_date {
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	text-align: center;
}

.blnk {
	text-decoration: none;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
}

#well_Info2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

#well_Info2 div {
	padding-left: 5px;
}

.depthDays {
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	grid-column: 1 / span 4;
	background-color: #dfdfdf;
	text-align: center;
	/* font-weight: bold; */
	padding: 2px 0px 2px 0px;
}

.Cost {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
	text-align: center;
	/* font-weight: bold; */
	padding: 2px 0px 2px 0px;
}

.dol,
.dfs,
.ttlDays,
.md,
.tvd,
.progress,
.rttingHrs,
.cumRotHrs,
.avgROP,
.lastCasing,
.lastHoleSize,
.lastShoeTMD,
.lastShoeTVD,
.blnk1 {
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.estDays,
.finalTMD,
.blnk2 {
	border-width: 0px 1px 1px 0px;
	border-style: solid;
}

.dailyNPT {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

.cummNPT,
.curnHoleSize {
	border-width: 0px 1px 1px 0px;
	border-style: solid;
}
.expenditure {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

#well_Info3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.statusTitle {
	border-width: 1px 0px 0px 0px;
	border-style: solid;
}

.statusInfo {
	grid-column: 2 / span 6;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
}

.remarks {
	border-width: 0px 0px 3px 0px;
	border-style: solid;
}

.operationSum {
	text-align: center;
	padding: 2px 0px 0px 0px;
	background-color: #dfdfdf;
}

.operationSumPart1 {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.operationSumPart2 {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.p1 {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.p1 div {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
}

.p2 {
	border-width: 1px 0px 1px 0px;
	border-style: solid;
}

.p3 {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 100px;
}

.p3 div {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
}

.p4 {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

.a2ndPart {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.bitData {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-style: solid;
	border-width: 1px 2px 0px 0px;
	text-align: center;
}

.bitData div {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	text-align: center;
}

.bitDataTitle {
	grid-column: 1 / span 3;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	background-color: #dfdfdf;
}

.mudCheck1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-style: solid;
	border-width: 1px 2px 1px 0px;
	text-align: center;
}

.mudCheck1Title {
	grid-column: 1 / span 3;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	background-color: #dfdfdf;
}

.mudCheck1Cost {
	grid-column: 1 / span 3;
	text-align: start;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	background-color: #dfdfdf;
}

.mudCheck2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-align: center;
}

.mudCheck2Title {
	grid-column: 1 / span 3;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	background-color: #dfdfdf;
}

.mudCheck2Cost {
	grid-column: 1 / span 3;
	text-align: start;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	background-color: #dfdfdf;
}

.mudCheck1_1 {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	text-align: start;
	padding-left: 2px;
}

.mudCheck1_2 {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	text-align: end;
}

.mudCheck2_1 {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	text-align: start;
	padding-left: 2px;
}

.mudCheck2_2 {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	text-align: end;
}

.bha_part {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bha_title1 {
	grid-column: 1 / span 3;
	background-color: #dfdfdf;
	border-style: solid;
	border-width: 2px 0px 1px 0px;
	text-align: center;
}

.bha_title2 {
	background-color: #dfdfdf;
	border-style: solid;
	border-width: 2px 0px 1px 0px;
}

.bha_data3 {
	grid-column: 3 / span 2;
}

#AC {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.AC_Title {
	grid-column: 1 / span 16;
	background-color: #dfdfdf;
	text-align: center;
	/* font-weight: bold; */
	padding: 2px 0px 2px 0px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
}

.ACwell {
	grid-column: 1 / span 7;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.ACwellbore {
	grid-column: 8 / span 3;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.ACreportNo {
	grid-column: 11 / span 3;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.ACreportDate {
	grid-column: 14 / span 3;
}

.componentTypeAC {
	grid-area: 3 / 1 / span 3 / span 3;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.NoJointAC {
	grid-area: 3 / 4 / span 3 / span 1;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.LengthAC {
	grid-area: 3 / 5 / span 3 / span 1;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.ODAC {
	grid-area: 3 / 6 / span 3 / span 1;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.IDAC {
	grid-area: 3 / 7 / span 3 / span 1;
	text-align: center;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.connectionAC {
	grid-area: 3 / 8 / span 1 / span 2;
	text-align: center;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	background-color: #dfdfdf;
}

.weightAC {
	grid-area: 3 / 10 / span 3 / span 1;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.GradeAC {
	grid-area: 3 / 11 / span 3 / span 1;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.PinBoxAC {
	grid-area: 3 / 12 / span 3 / span 1;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}

.SerialNoAC {
	grid-area: 3 / 13 / span 3 / span 1;
	text-align: center;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}
.SpiralAC {
	grid-area: 3 / 14 / span 3 / span 1;
	text-align: center;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #dfdfdf;
}
.fishNetAC {
	grid-area: 3 / 15 / span 1 / span 2;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	background-color: #dfdfdf;
}
.conn_OD {
	grid-area: 5 / 8;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	background-color: #dfdfdf;
}
.conn_Name {
	grid-area: 5 / 9;
	text-align: center;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	background-color: #dfdfdf;
}
.nf_Length {
	grid-area: 5 / 15;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	background-color: #dfdfdf;
}
.nf_OD {
	grid-area: 5 / 16;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	background-color: #dfdfdf;
}
.ct1 {
	grid-area: 6 / 1 / span 1 / span 3;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}

.ct1-NoJointAC {
	grid-area: 6 / 4;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.ct1-LengthAC {
	grid-area: 6 / 5;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.ct1-ODAC {
	grid-area: 6 / 6;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.ct1-IDAC {
	grid-area: 6 / 7;
	padding: 5px 5px 15px 5px;
}
.ct1-conn_OD {
	grid-area: 6 / 8;
	padding: 5px 5px 15px 5px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
}
.ct1-conn_Name {
	grid-area: 6 / 9;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
}
.ct1-weightAC {
	grid-area: 6 / 10;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.ct1-GradeAC {
	grid-area: 6 / 11;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.ct1-PinBoxAC {
	grid-area: 6 / 12;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.ct1-SerialNoAC {
	grid-area: 6 / 13;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.ct1-SpiralAC {
	grid-area: 6 / 14;
	padding: 5px 5px 15px 5px;
}
.ct1-nf_Length {
	grid-area: 6 / 15;
	padding: 5px 5px 15px 5px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
}
.ct1-nf_OD {
	grid-area: 6 / 16;
	padding: 5px 5px 15px 5px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
}

.ct2 {
	grid-area: 7 / 1 / span 1 / span 3;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}

.ct2-NoJointAC {
	grid-area: 7 / 4;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-LengthAC {
	grid-area: 7 / 5;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-ODAC {
	grid-area: 7 / 6;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-IDAC {
	grid-area: 7 / 7;
	padding: 5px 5px 15px 5px;
	background-color: #e9e9e9;
}
.ct2-conn_OD {
	grid-area: 7 / 8;
	padding: 5px 5px 15px 5px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-conn_Name {
	grid-area: 7 / 9;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-weightAC {
	grid-area: 7 / 10;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-GradeAC {
	grid-area: 7 / 11;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-PinBoxAC {
	grid-area: 7 / 12;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-SerialNoAC {
	grid-area: 7 / 13;
	padding: 5px 5px 15px 5px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-SpiralAC {
	grid-area: 7 / 14;
	padding: 5px 5px 15px 5px;
	background-color: #e9e9e9;
}
.ct2-nf_Length {
	grid-area: 7 / 15;
	padding: 5px 5px 15px 5px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	background-color: #e9e9e9;
}
.ct2-nf_OD {
	grid-area: 7 / 16;
	padding: 5px 5px 15px 5px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	background-color: #e9e9e9;
}

.gas_mud {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.pumpPipeVelo {
	display: grid;
	grid-template-columns: 44% 30% 26%;
}

.gasReadTitle {
	text-align: center;
	border-style: solid;
	border-width: 3px 1px 1px 0px;
	background-color: #dfdfdf;
}
.mudVolTitle {
	text-align: center;
	border-style: solid;
	border-width: 3px 1px 1px 0px;
	grid-area: 1 / 2 / span 1 / span 2;
	background-color: #dfdfdf;
}

.gasRead,
.mudRead {
	display: grid;
	grid-template-columns: 45% 10% 45%;
}

.eql {
	text-align: center;
}

.avgConnGas_value,
.ttlStringVol_value,
.maxConnGas_value,
.ttlAnnularVol_value,
.avgGasTrip_value,
.ttlPitVol_value,
.maxGasTrip_value,
.lines_value,
.avgBgGas_value,
.blank_end,
.maxBgGas_value,
.avgH2S_value,
.maxH2S_value,
.ttlSysVol_value {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	text-align: end;
}

.ttlSysVol {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
}

.eql_systemVol {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	text-align: center;
}

.ttlSysVol_value {
	border-style: solid;
	border-width: 1px 1px 0px 0px;
}

.pumpHydraulicTitle,
.annVeloTitle {
	text-align: center;
	border-style: solid;
	border-width: 3px 0px 1px 0px;
	background-color: #dfdfdf;
}

.pipeDataTitle {
	text-align: center;
	border-style: solid;
	border-width: 3px 3px 1px 3px;
	background-color: #dfdfdf;
}

.pumpHydraulic {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

.pipeData {
	display: grid;
	grid-template-columns: 35% 15% 35% 15%;
}

.annVelo {
	display: grid;
	grid-template-columns: 70% 30%;
}

.Pump,
.Pump1,
.Pump2,
.Pump3,
.Liner,
.Liner1,
.Liner2,
.Liner3,
.Stroke,
.Stroke1,
.Stroke2,
.Stroke3,
.EFF,
.EFF1,
.EFF2,
.EFF3,
.Pressure,
.Pressure1,
.Pressure2,
.Pressure3,
.SPM,
.SPM1,
.SPM2,
.SPM3,
.Output,
.Output1,
.Output2,
.Output3,
.drillPipe,
.drillCollar,
.riser {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

.Pump4,
.Liner4,
.Stroke4,
.EFF4,
.Pressure4,
.SPM4,
.Output4,
.drillPipe_value,
.drillCollar_value,
.riser_value {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

.minID,
.DC_OD,
.DC,
.HWDP_OD,
.HWDP {
	border-style: solid;
	border-width: 0px 1px 1px 3px;
}

.minID_value,
.DC_OD_value,
.DC_value,
.HWDP_OD_value,
.HWDP_value {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

.BHA,
.DP_OD,
.stringRotWeight,
.pickUpWeight,
.slackOffWeight {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

.BHA_value,
.DP_OD_value,
.stringRotWeight_value,
.pickUpWeight_value,
.slackOffWeight_value {
	border-style: solid;
	border-width: 0px 3px 1px 0px;
}

.shakerCentrifugeHydrocyclone {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.shakerTitle {
	text-align: center;
	border-style: solid;
	border-width: 0px 3px 1px 0px;
	background-color: #dfdfdf;
}

.shakerData {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.shakerType,
.shakerMesh {
	text-align: center;
	background-color: #dfdfdf;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

.shakerHrs {
	text-align: center;
	background-color: #dfdfdf;
	border-style: solid;
	border-width: 0px 3px 1px 0px;
}

.shakerTypeValue,
.shakerMeshValue {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

.shakerHrsValue {
	border-style: solid;
	border-width: 0px 3px 1px 0px;
}

.centrifugeData {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.centrifuge2Value {
	border-style: solid;
	border-width: 0px 3px 1px 0px;
}

.centrifugeTypeValue,
.centrifuge1Value,
.centrifugeType,
.centrifuge1 {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}
.centrifuge2 {
	border-style: solid;
	border-width: 0px 3px 1px 0px;
}

.centrifugeTitle {
	text-align: center;
	border-style: solid;
	border-width: 0px 3px 1px 0px;
	background-color: #dfdfdf;
}

.hydrocycloneData {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hydrocycloneType {
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	background-color: #dfdfdf;
}

.hydrocycloneHrs {
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	background-color: #dfdfdf;
}

.hydrocycloneTitle {
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	background-color: #dfdfdf;
}

.hydrocycloneTypeValue {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

.hydrocycloneHrsValue {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

.lotfit_fd {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.LOTFIT_title,
.formationData_title {
	text-align: center;
	border-style: solid;
	border-width: 3px 1px 1px 0px;
	background-color: #dfdfdf;
}

.LotFitData {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.fdData {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.EMW,
.MAASP,
.maxMudWt {
	text-align: center;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	background-color: #dfdfdf;
}

.fd_formation,
.fd_top {
	text-align: center;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	background-color: #dfdfdf;
}

.EMWValue,
.MAASPValue,
.maxMudWtValue,
.fd_formationValue,
.fd_topValue {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}
