.wrapper-wd {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.form-row-wd {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.form-group-wd {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.form-group-wd input,
.form-group-wd select {
	width: 180px; /* Adjust this to fit your layout */
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

label {
	font-weight: bold;
}

@media (max-width: 1200px) {
	.form-group-wd {
		width: 45%; /* Adapts to smaller screens */
	}
}

@media (max-width: 768px) {
	.form-group-wd {
		width: 100%;
	}
}
